<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}">

</head>
<body>
    Hello

    <script type="text/javascript" th:src="@{/js/lib/jquery-3.4.1.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var baseURL = /*[[@{/}]]*/ '';
        var model = /*[[${val}]]*/;
        /*]]>*/
    </script>
</body>
</html>